* {
    font-family: 'Bai Jamjuree', sans-serif;
}

.slide {
    margin: 10px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.1s;
}

.active-slide {
    opacity: 1;
    z-index: 2;
}

.quiz-container {
    position: relative;
    height: 200px;
    margin-top: 40px;
}

h1 {
    font-size: 3vw;
    color: white;
	border: 8px solid;
	border-radius: 10px;
    border-color: #3EC8AC;
    background-image: url("../img/bgbox.svg");
    opacity: 0.95;
}

body {
	font-size: 20px;
	color: #333;
    font-weight: 300;
    text-align: center;
    background-image: url("../img/background.jpg");
}

.but {
    font-size: 1.75vw;
    color: white;
	border: 8px solid;
	border-radius: 10px;
    border-color: #3EC8AC;
    background-image: url("../img/bgbox.svg");
    opacity: 0.95;
}

.answers {
    margin-top: 1%; 
    margin-bottom: 10px;
    text-align: left;
    display: inline-block;
}

.test {
    margin-top: 10%;
}

button {
    background-color: #4CAF50;
    border: none;
    color: black;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.7s;
    transition-duration: 0.7s;
    cursor: pointer;
    border-radius: 10px;
}

button:hover {
    background-color: gray;
}

.ans {
    text-align: center;
}

#submit {
    background-color: red;
}

#submit:hover {
    background-color: pink;
}

.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}