* {
    font-family: 'Bai Jamjuree', sans-serif;
}

a {
    color: white;
}

body {
    background-image: url("../img/background.jpg");
    background-size: 8%
}

/* button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: right;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
} */

p {
    font-size: 1.75vw;
}

.active {
    background-color: #4CAF50;
}

.board {
	font-size: 1.75vw;
	text-align: left;
	margin: auto;
	display: block;
	border: 8px solid;
	border-radius: 10px;
	border-color: #3EC8AC;
	padding: 5vw 5vw;
    background-image: url("../img/bgbox.svg");
    opacity: 0.95;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
}

.column {
    column-count: 3;
}

.color-inboard {
    color: white;
}

.footer {
    font-size: 1.5vw;
    text-align: right;
}

.linkto_content {
    color: white;
    text-align: right;
}

.linkto_exam {
    color: yellow;
    text-align: right;
}

.title1 {
    font-size: 2.5vw;
    color: white;
    text-align: center;
}

.title2 {
    font-size: 2vw;
    color: yellow;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(102, 100, 100);
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: rgb(251, 255, 27);
    text-align: center;
    padding: 1vw 1vw;
    font-size: 1.5vw;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #4CAF50;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.btn {
    border-radius: 5px;
    padding: 15px 25px;
    font-size: 22px;
    text-decoration: none;
    margin: 20px;
    color: #fff;
    position: relative;
    display: inline-block;
}
  
.btn:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    box-shadow: 0px 1px 0px 0px;
}

.green {
    text-align: right;
    background-color: #2ecc71;
    box-shadow: 0px 5px 0px 0px #15B358;
}
  
.green:hover {
    background-color: #48E68B;
}

#buttons {
    padding-top: 50px;
    text-align: right;
}