* {
    font-family: 'Bai Jamjuree', sans-serif;
}
.slide{
    margin: 10px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s;
}
.active-slide{
    opacity: 1;
    z-index: 2;
}
.quiz-container{
    position: relative;
    height: 200px;
    margin-top: 40px;
}
  
h1{
    background: bisque;
}
body{
	font-size: 20px;
	color: #333;
    font-weight: 300;
    text-align: center;
    background-image: url("../img/background.jpg");
}
.but{
    background: bisque;
}
.answers {
    margin-top: 1%; 
    margin-bottom: 10px;
    text-align: left;
    display: inline-block;
}
.test{
    margin-top: 5%;
}
button{
    background-color: #4CAF50;
    border: none;
    color: black;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.7s;
    transition-duration: 0.7s;
    cursor: pointer;
    border-radius: 10px;
}
button:hover{
    background-color: gray;
}
#submit{
    background-color: red;
}
#submit:hover{
    background-color: pink;
}