* {
    font-family: 'Bai Jamjuree', sans-serif;
}

a {
    color: white;
}

body {
    background-image: url("img/background.jpg");
}

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

p {
    font-size: 1.75vw;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(102, 100, 100);
}

li {
    float: left;
}

li a {
    display: block;
    color: rgb(251, 255, 27);
    text-align: center;
    padding: 1vw 1vw;
    font-size: 1.5vw;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #4CAF50;
}

.active {
    background-color: #4CAF50;
}

.board {
	font-size: 1.75vw;
	text-align: left;
	margin: auto;
	display: block;
	border: 8px solid;
	border-radius: 10px;
	border-color: #3EC8AC;
	padding: 5vw 5vw;
    background-image: url("img/bgbox.svg");
    opacity: 0.95;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
}

.column {
    column-count: 3;
}

.color-inboard {
    color: white;
}

.footer {
    font-size: 1.5vw;
    text-align: right;
}

.linkto_content {
    color: white;
    text-align: right;
}

.linkto_exam {
    color: yellow;
    text-align: right;
}

.title1 {
    font-size: 2.5vw;
    color: white;
    text-align: center;
}

.title2 {
    font-size: 2vw;
    color: yellow;
}

